
/* project-title*/

.about {
 padding: 0 10rem;
  max-width: 71.25rem;
  margin-top: 4rem;
}

.email{
  text-transform: lowercase;
      font-weight: 300;
    line-height: 1.75;
    font-size:1vw;
      letter-spacing: 0.5px;

}

.description {
 padding: 0 10rem;
  max-width: 71.25rem;
  width: 100%


}

/* project*/

body{
        font-family: sans-serif;

}



h1{
  padding-top: 40px;
  font-size:36px;
  padding-bottom: 10px;
  font-weight: 600;
  padding-bottom: 10px;
}

h2{
  font-size: 16px;
  padding-bottom: 60px;


}

h3{
  font-size:12px;
  color:black;
  padding-bottom: 10px;

}
p{
    font-size:16px;
    font-weight: 400;
       letter-spacing: 0.4px;
        margin-top: 32px;
             line-height: 1.4;




}



.paper p{
  margin: 0px;
  padding: 0px;

}

.paper{
  margin-bottom: 20px;
  margin-top: 20px;
}


#name{
  font-size: 14px;
}

#place{
  font-size:14px;
}



/* project lists*/

.about ul{
  margin-left: 1rem;
  list-style-type: square;
  margin-top: 1rem;
}

.about li{
  line-height: 1.7rem;
  font-size: 1vw;
  font-weight: 300;
    letter-spacing: 0.5px;

}



/*blockquote*/

blockquote{
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    line-height: 1.8rem;
    border-left: 5px solid #50E3C2;
    font-weight: 200;
    color: grey;


}

