

.slide:first-child {
  display: block;
}


.slide:nth-of-type(1) {
  background: url("../images/ebaotech/1.png" ) ;
  background-size:800px 600px;
  background-repeat: no-repeat;
  margin-left:150px;

}
.slide:nth-of-type(2) {
background: url("../images/ebaotech/2.png") ;
  background-size:800px 600px;
    background-repeat: no-repeat;
  margin-left:150px;

}

.slide:nth-of-type(3) {
background: url("../images/ebaotech/3.png") ;
  background-size:800px 600px;
    background-repeat: no-repeat;
  margin-left:150px;

}
.slide:nth-of-type(4) {
background: url("../images/ebaotech/4.png") ;
  background-size:800px 600px;
    background-repeat: no-repeat;
  margin-left:150px;

}

.slide:nth-of-type(5) {
background: url("../images/ebaotech/5.png") ;
  background-size:800px 600px;
    background-repeat: no-repeat;
  margin-left:150px;

}

.slide:nth-of-type(6) {
background: url("../images/ebaotech/6.png") ;
  background-size:800px 600px;
    background-repeat: no-repeat;
  margin-left:150px;

}

.slide:nth-of-type(7) {
background: url("../images/ebaotech/7.png") ;
  background-size:800px 600px;
    background-repeat: no-repeat;
  margin-left:150px;

}


.slide:nth-of-type(8) {
background: url("../images/ebaotech/8.png") ;
  background-size:800px 600px;
    background-repeat: no-repeat;
  margin-left:150px;

}
